* {
  box-sizing: border-box;
}

html {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-image: url("../assets/images/MorelinesBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


/* Main Page Layout */

#main-content {
  display: flex;
  flex-direction: column;
  gap: 96px;
  width: 70%;
}

#main-Artcontent {
  margin-left: 1%;
  display: flex;
  flex-direction: column;
  gap: 100px;
  position: relative;
}

#artMainContainer {
  display: flex;
  flex-direction: row;
}

.pop-out-div {
  width: auto;
  padding: 50px;
  background-color: #ffffff;
  /* Light background for contrast */
  border-radius: 10px;
  /* Slightly rounded corners */
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    /* Softer, general shadow */
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* Stronger, more pronounced shadow for depth */
  transition: box-shadow 0.3s ease-in-out;
  /* Smooth transition on hover */
}

.pop-out-div:hover {
  box-shadow:
    0 8px 16px 0 rgba(0, 0, 0, 0.2),
    /* Larger shadow on hover */
    0 12px 40px 0 rgba(0, 0, 0, 0.25);
  /* More intense shadow on hover */
}


/* Portfolio Header */

#portfolio-header {
  padding-top: 5%;
  margin-left: 20%;
  padding-bottom: 30%;
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: center;
  width: fit-content;

}

#portfolio-header-image-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-basis: 45%;
  align-items: center;
  object-position: cent;
  aspect-ratio: 16/9;
}

.portfolio-header-image {
  width: 50%;
  height: 25rem;
  display: block;
  box-shadow: 10px 10px 15px 7px #8a919c;
  border-radius: 72% 28% 77% 23% / 18% 79% 21% 82%;
  object-fit: cover;
  /* object-position: contain; */
}

#portfolio-header-text-container {
  display: flex;
  flex-direction: column;
  gap: 34px;
  flex-basis: 50%;
}

.links-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}




/* About Section */
#about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

}


.about-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.about-image-content {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}



/* Project Section */

#my-work-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.projects-container {
  display: flex;
  gap: 34px 16px;
  flex-wrap: wrap;
}

.artProjects {
  display: flex;
  gap: 34px 50px;
  flex-direction: row;
  max-width: calc((100% - 500px));
  align-self: center;
  object-fit: contain;
  aspect-ratio: 16/9;
}

/* Project Cards */

.artProject-card {
  display: flex;
  flex-direction: row;
  max-width: calc((100% - 12px));
  gap: 34px;
}

.art-text-container {
  display: flex;
  flex-direction: column;
  /* max-width: calc((100% - 12px)/2);
  max-height: 2%; */
  width: 50%;
  gap: 10px;
  align-self: baseline;
}

.project-card {
  max-width: calc((100% - 32px) / 3);
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.project-card-text-container {
  flex-direction: column;
  display: flex;
  gap: 16px
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}


.slideshow-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  animation: slide 16s infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(0);
  }

  35% {
    transform: translateX(-100%);
  }

  45% {
    transform: translateX(-100%);
  }

  60% {
    transform: translateX(-200%);
  }

  75% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0);
  }
}


/* Project Pages */

#project-header {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.project-header-image {
  width: 100%;
  height: auto;
}

#project-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-details-content {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

div.art {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 50px;
}

div.contactPage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

/* Project Gallery */

#project-gallery {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-gallery-content {
  display: flex;
  flex-wrap: wrap;
  gap: 34px 16px;
}

.gallery-image-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery-image-container.half-width {
  width: calc((100% - 16px) / 2);
}

.gallery-image {
  width: 100%;
  height: auto;
}

/* NEEDS FIXING RN*/

@media only screen and (max-width: 4000px) {
  #main-content {
    margin: 50px 290px;
    align-items: center;
  }

  .portfolio-header-image {
    width: 85%;
    height: 25rem;
    display: block;
    box-shadow: 10px 10px 15px 7px #8a919c;
    border-radius: 72% 28% 77% 23% / 18% 79% 21% 82%;
    object-fit: cover;
    /* object-position: contain; */
  }

 
}
/* Extra Extra large devices (large laptops and desktops, 1200px and below) */
@media only screen and (max-width: 1600px) {
  #main-content {
    margin: 50px 240px;
  }

  .portfolio-header-image {
    width: 85%;
    height: 25rem;
    display: block;
    box-shadow: 10px 10px 15px 7px #8a919c;
    border-radius: 72% 28% 77% 23% / 18% 79% 21% 82%;
    object-fit: cover;
    /* object-position: contain; */
  }

   #portfolio-header {
  padding-top: 5%;
  margin-left: 15%;
  padding-bottom: 30%;
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: center;
  width: fit-content;

}
}

/* Extra large devices (large laptops and desktops, 1200px and below) */
@media only screen and (max-width: 1200px) {
  #main-content {
    margin: 70px 175px;
  }

  .portfolio-header-image {
    width: 85%;
    height: 25rem;
    display: block;
    box-shadow: 10px 10px 15px 7px #8a919c;
    border-radius: 72% 28% 77% 23% / 18% 79% 21% 82%;
    object-fit: cover;
    /* object-position: contain; */
  }

    #portfolio-header {
  padding-top: 5%;
  margin-left: 2.5%;
  padding-bottom: 30%;
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: center;
  width: fit-content;

}
}

/* Large devices (laptops/desktops, 1000px and below) */
@media only screen and (max-width: 1000px) {
  #main-content {
    margin: 90px 135px;
  }

  .portfolio-header-image {
    width: 85%;
    height: 25rem;
    display: block;
    box-shadow: 10px 10px 15px 7px #8a919c;
    border-radius: 72% 28% 77% 23% / 18% 79% 21% 82%;
    object-fit: cover;
    /* object-position: contain; */
  }

  
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  #main-content {
    margin: 30px 120px;
  }

  #portfolio-header {
    flex-direction: column;
  }

  .project-card {
    max-width: calc((100% - 16px) / 2);
  }

  .portfolio-header-image {
    width: 50%;
    height: 25rem;
    display: block;
    box-shadow: 10px 10px 15px 7px #8a919c;
    border-radius: 72% 28% 77% 23% / 18% 79% 21% 82%;
    object-fit: cover;
    /* object-position: contain; */
  }
  .artProjects {
  display: flex;
  gap: 34px 50px;
  flex-direction: row;
  max-width: 100%;
  align-self: center;
  object-fit: contain;
  aspect-ratio: 16/9;
  }


}

/* Small devices (portrait tablets and large phones, 600px and below) */
@media only screen and (max-width: 600px) {
  #main-content {
    margin: 20px 65px;
  }

  .project-card {
    max-width: 100%;
  }

  .portfolio-header-image {
    width: 50%;
    height: 20rem;
    display: block;
    box-shadow: 10px 10px 15px 7px #8a919c;
    border-radius: 72% 28% 77% 23% / 18% 79% 21% 82%;
    object-fit: cover;
    justify-content: center;
    /* object-position: contain; */
  }

  #portfolio-header {
    margin-left: 0%;
    align-items: center;
  }
  #portfolio-header-text-container {
    align-items: center;
    margin-left: 5%;
  }

  .about-image-content {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .artProjects {
  display: flex;
  gap: 34px 50px;
  flex-direction: row;
  max-width: 100%;
  align-self: center;
  object-fit: contain;
  aspect-ratio: 16/9;
  }
}