body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-title {
  font-weight: 700;
  font-family: "Teko", serif;
  font-style: normal;
}

.button-text {
  font-size: 0.9vw;
  font-weight: 700;
}

.image-caption {
  font-size: 14px;
  font-weight: 500;
}

.main-title {
  font-size: 50px;
  font-weight: 700;
  font-family: "Teko", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header-text {
  font-size: 70px;
  font-weight: 500;
  font-family: "Teko", serif;
  font-style: normal;
  position: relative;
  bottom: 25px;
}

.subtitle-header-text {
  font-size: 50px;
  font-weight: 700;
  padding-bottom: 10px;
  font-family: "Teko", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.about-header-text {
  font-size: 50px;
  font-weight: 700;
  padding-bottom: 10px;
  font-family: "Teko", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.subheader-text {
  font-size: 20px;
  font-weight: 700;
}

.subheader-text-withMargins {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 25px;
}

.body-text {
  font-size: 17px;
  font-weight: 300;
  padding-top: 30px;
  line-height: 25px;
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.body-text-description {
  font-size: 16px;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 70px;
  letter-spacing: 1px;
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-style: normal;
  max-width: 75%;
}

.project-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.art-project-card-text {
  display: -webkit-box;
  /* Needed for -webkit-line-clamp */
  -webkit-line-clamp: 4;
  /* Limit text to 4 lines */
  -webkit-box-orient: vertical;
  /* Correct direction for multiline clamping */
  overflow: hidden;
  /* Hide overflowing text */
  text-overflow: ellipsis;
  /* Add ellipsis when text is truncated */
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
  margin-top: 7%;
  font-size: 0.8vw;
  /* Font size adjusts between 14px and 18px */
}

@media (max-width: 1600px) {

  /* For larger screens (like desktops) */
  .art-project-card-text {
    display: block;
    /* Disable line clamp on larger screens */
    -webkit-line-clamp: unset;
    /* Remove clamping */
    overflow: visible;
    /* Allow overflow if the text fits */
    text-overflow: unset;
    /* Remove ellipsis on large screens */
    font-size: 1vw;
  }
}

@media (max-width: 1400px) {

  /* For larger screens (like desktops) */
  .art-project-card-text {
    display: block;
    /* Disable line clamp on larger screens */
    -webkit-line-clamp: unset;
    /* Remove clamping */
    overflow: visible;
    /* Allow overflow if the text fits */
    text-overflow: unset;
    /* Remove ellipsis on large screens */
    font-size: 0.9vw;
  }
}

@media (max-width: 1200px) {

  /* For larger screens (like desktops) */
  .art-project-card-text {
    display: block;
    /* Disable line clamp on larger screens */
    -webkit-line-clamp: unset;
    /* Remove clamping */
    overflow: visible;
    /* Allow overflow if the text fits */
    text-overflow: unset;
    /* Remove ellipsis on large screens */
    font-size: 0.8vw;
  }
}

@media (max-width: 1000px) {

  /* For larger screens (like desktops) */
  .art-project-card-text {
    display: block;
    /* Disable line clamp on larger screens */
    -webkit-line-clamp: unset;
    /* Remove clamping */
    overflow: visible;
    /* Allow overflow if the text fits */
    text-overflow: unset;
    /* Remove ellipsis on large screens */
    font-size: 0.5vw;
  }
}

@media (max-width: 800px) {

  /* For larger screens (like desktops) */
  .art-project-card-text {
    display: block;
    /* Disable line clamp on larger screens */
    -webkit-line-clamp: unset;
    /* Remove clamping */
    overflow: visible;
    /* Allow overflow if the text fits */
    text-overflow: unset;
    /* Remove ellipsis on large screens */
    font-size: 0.6vw;
  }
}

.project-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@media only screen and (max-width: 600px) {
  .button-text {
    font-size: 2.5vw;
  }

  .about-header-text {
    font-size: 45px;
    align-items: center;
    justify-content: center;
    object-position: center;
  }

  .body-text-description {
    font-size: 12px;
    font-weight: 300;
    padding-top: 5px;
    padding-bottom: 70px;
    letter-spacing: 1px;
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-style: normal;
    max-width: 100%;
  }

  .art-project-card-text {
    display: block;
    /* Disable line clamp on larger screens */
    -webkit-line-clamp: unset;
    /* Remove clamping */
    overflow: visible;
    /* Allow overflow if the text fits */
    text-overflow: unset;
    /* Remove ellipsis on large screens */
    font-size: 1.15vw;
  }
}